[settings]
outputPath=bloomberg
rowCount=100

[fields]
row_number=rnum()
date_start=@date_start
date_end=@date_end
format_version="MSGXML 1.6"
dscl_file_name = @feed_id + ".dscl." + format(@date_end, "YYMMdd")

[templatefile]
fileName=[dscl_file_name].xml

[header]
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<FileDump>
<Version>[format_version]</Version>

[row]
<Disclaimer>
<DisclaimerReference>[row_number]</DisclaimerReference>
<DisclaimerText>
This is the text of the disclaimer number: [row_number]
</DisclaimerText>
</Disclaimer>

[footer]
</FileDump>
