[settings]
outputPath=bloomberg
rowCount=10

[fields]
row_number=rnum()
date_start=@date_start
date_end=@date_end
event_date=drng(@date_start,@date_end, "YYYY-MM-dd HH:mm:ss")
event_date_text=format([event_date], "MM/dd/YYYY HH:mm:ss")
event_date_utc=format([event_date],  "epoch")
format_version="BLOGXML 0.2"
language="English"
subject=escape(randw(1,3),"xml11")
user_login_name=upper(sample("users.first_name") + "." + sample("users.last_name"))
user_first_name=upper(sample("users.first_name"))
user_last_name=upper(sample("users.last_name"))
user_id=int(replace(sample("users.id"),"UID",""))
user_organization=escape(sample("users.organization"),"xml11")
user_email=sample("users.email")
bloomberg_uuid=int(replace(sample("users.id"),"UID",""))
bloomberg_email="user-id-test-" + sample("users.id") + "@bloomberg.net"
user_firm_number="1000"
user_account_number="1001"
log_id=irng(100000,9999999)
blog_content=escape(randw(400,2000), "xml11")
blog_file_name = @feed_id + ".blog." + format(@date_end, "YYMMdd")

[templatefile]
fileName=[blog_file_name].xml

[header]
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<FileDump>
<Version>[format_version]</Version>
<WebLog AccessType = "F">
<LogID>[log_id]</LogID>
<CreateTime>[event_date_text]</CreateTime>
<CreateTimeUTC>[event_date_utc]</CreateTimeUTC>
<Publisher>
{user_info:1}
</Publisher>
<FirmNumber>[user_firm_number]</FirmNumber>
<Subject>[subject]</Subject>
<Language>[language]</Language>

[row]
<Posting>
<EntryID>[row_number]</EntryID>
<DateTime>[event_date_text]</DateTime>
<DateTimeUTC>[event_date_utc]</DateTimeUTC>
<Publisher>
{user_info:1}
</Publisher>
<Content>
[blog_content]
</Content>
</Posting>

[user_info]
<UserInfo>
<LoginName>[user_login_name]</LoginName>
<FirstName>[user_first_name]</FirstName>
<LastName>[user_last_name]</LastName>
<FirmNumber>[user_firm_number]</FirmNumber>
<AccountName>[user_organization]</AccountName>
<AccountNumber>[user_account_number]</AccountNumber>
<BloombergUUID>[bloomberg_uuid]</BloombergUUID>
<BloombergEmailAddress>[bloomberg_email]</BloombergEmailAddress>
<CorporateEmailAddress>[user_email]</CorporateEmailAddress>
</UserInfo>

[footer]
</WebLog>
</FileDump>
