[settings]
outputPath=bloomberg/ldif
rowCount=5000

[fields]
date_end=@date_end
full_name = lookup("users.full_name")
first_name = lookup("users.first_name")
last_name = lookup("users.last_name")
email = lookup("users.email")
other_email = "other." + lookup("users.email")
department = lookup("users.department")
phone_number = lookup("users.phone_number")
organization = lookup("users.organization")
country = lookup("users.country")
country_code = lookup("users.country_code")
zip_code = "90210"
primary_group_id = irng(100,999)
id = "E" + int(replace(lookup("users.id"),"UID",""))
date_part = formatDate(@date_end,"yyMMdd")
feed_id=@feed_id

[templatefile]
fileName=[feed_id].ldap.[date_part].ldif
#packageName=[feed_id].ldap.[date_part].ldif.tar.gz
[header]
version: 1

dn: DC=example,DC=com
dc: example
objectclass: top
objectclass: dcObject
objectclass: organization
o: Example, Inc.

dn: DC=internal,DC=example,DC=com
dc: corp
objectclass: top
objectclass: dcObject
objectclass: organization
o: internal

dn: DC=corp,DC=internal,DC=example,DC=com
dc: corp
objectclass: top
objectclass: dcObject
objectclass: organization
o: corp

dn: OU=Example Financial Group,DC=corp,DC=internal,DC=example,DC=com
objectclass: top
objectclass: organizationalUnit
ou: Example Financial Group

dn: OU=MA,OU=Example Financial Group,DC=corp,DC=internal,DC=example,DC=com
objectclass: top
objectclass: organizationalUnit
ou: MA

dn: OU=Example Corp HQ,OU=MA,OU=Example Financial Group,DC=corp,DC=internal,DC=example,DC=com
objectclass: top
objectclass: organizationalUnit
ou: Example Corp HQ

dn: OU=Users,OU=Example Corp HQ,OU=MA,OU=Example Financial Group,DC=corp,DC=internal,DC=example,DC=com
objectclass: top
objectclass: organizationalUnit
ou: Users


[row]
dn: CN=[user_id],OU=Users,OU=Example Corp HQ,OU=MA,OU=Example Financial Group,DC=corp,DC=internal,DC=example,DC=com
cn: [user_id]
sn: [last_name]
postalCode: [zip_code]
givenName: [first_name]
displayName: [full_name]
department: [department]
company: [organization]
mail: [email]
proxyAddresses: [other_email]
name: [user_id]
primaryGroupID: [primary_group_id]
sAMAccountName: [user_id]
objectClass: top
objectClass: zIdentity



