[settings]
outputPath=bloomberg
publicKeyPath=citizens-pubring.gpg
postPackageProcesses=encrypt
rowCount=100

[fields]
row_number=rnum()
date_start=@date_start
date_end=@date_end
format_version="MSGXML 1.6"
message_id=randt(24,24,"hex")
message_time=drng(@date_start,@date_end, "YYYY-MM-dd HH:mm:ss")
message_time_text=format([message_time], "YYYY-MM-dd-HH.mm.ss") + ".000000"
message_time_utc=format([message_time],  "epoch")
message_language="CODE 65001"
user_login_name=upper(sample("svusers.login_name"))
user_first_name=upper(sample("svusers.first_name"))
user_last_name=upper(sample("svusers.last_name"))
user_id=int(replace(sample("users.id"),"UID",""))
user_organization="CITIZENS BANK NA"
user_email=sample("svusers.email")
bloomberg_uuid=sample("svusers.bloomberg_id")
bloomberg_email=sample("svusers.bloomberg_email")
user_firm_number="900348"
user_account_number="1001"
recipient_delivery_type=set("TO","CC","BCC")
message_subject="Supervision test message"
message_greeting="Greeting: " + escape(randw(4,6), "xml11")
message_policy_content=set("reduced test sales charge", "taking care test fee", "resolves test issue", "answering test problems", "take care test errors")
msg_file_name = @feed_id + ".msg." + format(@date_end, "YYMMdd")
attachment_extension=set("docx","pptx","xlsx","xml")
attachment_file_id = counter("attachment_file.file_count") + "." + [attachment_extension]
attachment_file_ref = "bloomberg_attachments_" + format(@date_end, "YYMMdd") + "/" + [attachment_file_id]
attachment_file_name = randw(1,1) + "." + [attachment_extension]
attachment_package_name = @feed_id + ".att." + format(@date_end, "YYMMdd")
disclaimer_id=irng(1,100)

[outputfile]
name=attachment_file
fileName=[attachment_file_ref]
packageName=[attachment_package_name].tar.gz
create=per reference

[templatefile]
fileName=[attachment_package_name].done

[header]
done

[templatefile]
fileName=[msg_file_name].done

[header]
done

[templatefile]
fileName=[msg_file_name].xml

[header]
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<FileDump>
<Version>[format_version]</Version>

[row]
<Message>
<MsgID>[message_id]</MsgID>
<MsgTime>[message_time_text]</MsgTime>
<MsgTimeUTC>[message_time_utc]</MsgTimeUTC>
<MsgLang>[message_language]</MsgLang>
<Sender>
{user_info:1}
</Sender>
{recipient:1-5}
<Subject>
[message_subject]
</Subject>
<MsgBody>
-----
Supervisor Policy Test
-----
Test Text: [policy_content]
</MsgBody>
{greeting:0-1}
{disclaimer:0-1}
</Message>

[recipient]
<Recipient DeliveryType="[recipient_delivery_type]">
{user_info:1}
</Recipient>

[user_info]
<UserInfo>
<LoginName>[user_login_name]</LoginName>
<FirstName>[user_first_name]</FirstName>
<LastName>[user_last_name]</LastName>
<FirmNumber>[user_firm_number]</FirmNumber>
<AccountName>[user_organization]</AccountName>
<AccountNumber>[user_account_number]</AccountNumber>
<BloombergUUID>[bloomberg_uuid]</BloombergUUID>
<BloombergEmailAddress>[bloomberg_email]</BloombergEmailAddress>
<CorporateEmailAddress>[user_email]</CorporateEmailAddress>
</UserInfo>

[attachment]
<Attachment>
<FileName>[attachment_file_name]</FileName>
<FileID>[attachment_file_id]</FileID>
<FileSize>[attachment_file.size]</FileSize>
</Attachment>

[greeting]
<Greeting>
[message_greeting]
</Greeting>

[disclaimer]
<DisclaimerReference>[disclaimer_id]</DisclaimerReference>

[footer]
</FileDump>

