[settings]
outputPath=6examples-html-signature-eml-attach-pool_5
rowCount=100-1000
filepoolpath=/store/testdata/filepool

[fields]
#email_date = drng("2011-01-01","2017-01-01","E, dd MMM yyyy HH:mm:ss Z")
#date_end = $(date +"%F %T")
#date_start = $(date -d '1 day ago' +"%F %T")
email_date = drng(@date_start, @date_end,"E, dd MMM yyyy HH:mm:ss Z")
user_name = sample("test_users_demo.full_name")
#user_email = sample("test_users.email")
#user_email = lower(sample("test_users_demo.first_name") + "." + sample("test_users_demo.last_name")) + "@safecoast.us"
user_email = sample("test_users_demo.email")
full_name = sample("test_users_demo.first_name") + " " +  sample("test_users_demo.last_name")
user_department = sample("test_users_demo.department")
#phone = "+1" + " " + upper(randt(3,3,"numeric")) + " " + upper(randt(3,3,"numeric")) + " " + upper(randt(4,4,"numeric"))
user_phone = sample("test_users_demo.phone_number")
message_key = upper(randt(32,32,"alpha-numeric"))
message_id = "<" + [message_key] + "." + sample("test_users_demo.email") + ">;"
boundary = "PART_" + [message_key]
related_boundary = "REL_" + [message_key]
#subject = "Subject - " + randw(1,4)
subject = sample("subject.subject")
file_name = "email." + lpad(rnum(),6,"0") + ".eml"
#package_name = "package." + lpad(incEvery(8),6,"0") + ".zip"
#content = randw(10, 20)
#lexicon = @lexicon + "." + @lexicon
content = replace(poolFileText("enroncontent"),"\n", "<br />") + " " + sample("lexicon5.lexicon5")
#contentflag = sample("lexicon5.lexicon5")
#attachment_extension = set("xlsx","docx", "pdf")
#attachment_extension = set("jpg","pdf","doc","tif")
attachment_extension = sample("enronmimetypes.extension")
mimetype = sample("enronmimetypes.name")
attachment_name = randw(1,1) + "." + [attachment_extension]
attachment_content = poolFileBase64([attachment_extension])
signature_image_content =  poolFileBase64("sig")
signature_image_name = "mail-signature.png"
#mimetype = sample("enronmimetypes.name")

[templatefile]
fileName=[file_name]
#packageName=[package_name]

[row]
Date: [email_date]
To: {email_address:1-5}
From: "[user_name]" <[user_email]>;
Subject: [subject]
Content-Type: multipart/mixed; boundary="[boundary]"
Message-ID: [message_id]


--[boundary]
Content-Type: multipart/related; boundary="[related_boundary]"

--[related_boundary]
Content-Type: text/html; charset=utf-8

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p>[content]</p>
        <p>
        [full_name]<br/>
        [user_department]<br/>
        SafeCoast, LLC<br/>
        [user_phone]<br/>
        <img src="cid:inline_mail_sig"/>
        </p>
    </body>
</html>

--[related_boundary]
Content-Type: image/png; name="[signature_image_name]"
Content-Transfer-Encoding: base64
Content-Disposition: inline; filename="[signature_image_name]"
Content-ID: <inline_mail_sig>

[signature_image_content]

--[related_boundary]--

{attachment:0-2}

--[boundary]--
[email_address]
"[user_name]" <[user_email]>;
[attachment]
--[boundary]
Content-Type: [mimetype]; name="[attachment_name]"
Content-Transfer-Encoding: base64
Content-Disposition: attachment; filename="[attachment_name]"

[attachment_content]


