[settings]
outputPath=examples-counters
rowCount=30

[fields]
row_id = "RID-" + rnum()
output_file_name = counter("output_file.file_count") + "." + set("xlsx","docx","pptx")
excel_file_name = "excel-" + counter("excel_file.file_count") + ".xlsx"
package_name = "attachments-" + incEvery(5)
excel_package_name = "excels.zip"
data_file_name = "file-reference-" + incEvery(10) + ".txt"

[outputfile]
name=output_file
fileName=[output_file_name]
packageName=[package_name].zip
create=per row, per reference

[outputfile]
name=excel_file
fileName=[excel_file_name]
packageName=[excel_package_name]
create=per row

[templatefile]
name=reference_file
fileName=[data_file_name]
#packageName=[data_file_name].zip

[row]
======== New Row ========
Row ID: [row_id]
Output File Name: [output_file_name]
Full Path: [output_file.full_path]
Relative Path: [output_file.relative_path]
File Size: [output_file.size]
File Name: [output_file.file_name]
Excel File Path: [excel_file.full_path]
{ nested: 1-2}

[nested]
Other File Name: [output_file.file_name]
Other File Path: [output_file.full_path]
Template Count: [counters.nested.total_count]

[footer]
Row Count: [counters.row_count]
Total Files: [counters.file_count]
Total Size: [counters.file_size]
Excel Count: [counters.excel_file.file_count]
Output Count: [counters.output_file.file_count]
Data File Count: [counters.data_file_count]
Package Count: [counters.package_count]
Local Count: [counters.reference_file.count]
Total Count: [counters.reference_file.total_count]

