[settings]
outputPath=examples-dictionary
rowCount=5000

[fields]
full_name = sample("lastnames") + ", " + sample("firstnames")
first_name = sample("firstnames")
last_name = sample("lastnames")
email = lower(sample("firstnames")) + "." + lower(sample("lastnames")) + "@example.com"

[structuredfile]
fileName=users.csv
includeHeader=true
separator=,
textQualifier="
fields=all