[settings]
outputPath=examples-dupe-nested
rowCount=10

[fields]
email_date = drng("2011-01-01","2017-01-01","E, dd MMM yyyy HH:mm:ss Z")
user_name = sample("users.full_name")
user_email = sample("users.email")
subject = "Subject - " + randw(1,4)
file_name = "email." + lpad(rnum(),6,"0") + ".eml"
content = randw(20, 400)

[templatefile]
fileName=dupe-nested.xml
[header]
<Messages>

[footer]
</Messages>

[row]
<Message>
	<Subject>[subject]</Subject>
	<Sender>
		{user:1}
	</Sender>
	<Recipients>
		{user:1}
	</Recipients>
	<Content>
		[content]
	</Content>
</Message>

[user]
<User>
	<Name>[user_name]</Name>
	<Email>[user_email]</Email>
</User>
