[settings]
outputPath=examples-eml-attach
rowCount=300

[fields]
email_date = drng("2011-01-01","2017-01-01","E, dd MMM yyyy HH:mm:ss Z")
user_name = sample("test_users.full_name")
user_email = sample("test_users.email")
message_key = upper(randt(32,32,"alpha-numeric"))
message_id = "<" + [message_key] + "." + sample("users.email") + ">;"
boundary = "PART_" + [message_key]
subject = "Subject - " + randw(1,4)
file_name = "email." + lpad(rnum(),6,"0") + ".eml"
#package_name = "package." + lpad(incEvery(8),6,"0") + ".zip"
content = randw(10, 20)
attachment_name = randw(1,1) + ".txt"
attachment_content = base64(randw(20,100))

[templatefile]
fileName=[file_name]
#packageName=[package_name]

[row]
Date: [email_date]
To: {email_address:1-5}
From: "[user_name]" <[user_email]>;
Subject: [subject]
Content-Type: multipart/mixed; boundary="[boundary]"
Message-ID: [message_id]

--[boundary]
Content-Type: text/plain; charset=utf-8

[content]

{attachment:0-3}

--[boundary]--
[email_address]
"[user_name]" <[user_email]>;
[attachment]
--[boundary]
Content-Type: application/octet-stream; name="[attachment_name]"
Content-Transfer-Encoding: base64
Content-Disposition: attachment; filename="[attachment_name]"

[attachment_content]
