[settings]
outputPath=examples-eml-attach-pool
rowCount=10
filepoolpath=/store/testdata/filepool

[fields]
#email_date = drng("2011-01-01","2017-01-01","E, dd MMM yyyy HH:mm:ss Z")
#date_end = $(date +"%F %T")
#date_start = $(date -d '1 day ago' +"%F %T")
email_date = drng(@date_start, @date_end,"E, dd MMM yyyy HH:mm:ss Z")
user_name = sample("Enron_LDIF-DICTIONARY.givenName")
#user_email = sample("test_users.email")
#user_email = lower(sample("users.first_name") + "." + sample("users.last_name")) + "@safecoast.us"
user_email = sample("Enron_LDIF-DICTIONARY.mail")
full_name = sample("users.first_name") + " " +  sample("users.last_name")
title = sample("users.department")
phone = "+1" + " " + upper(randt(3,3,"numeric")) + " " + upper(randt(3,3,"numeric")) + " " + upper(randt(4,4,"numeric"))
message_key = upper(randt(32,32,"alpha-numeric"))
message_id = "<" + [message_key] + "." + sample("users.email") + ">;"
boundary = "PART_" + [message_key]
#subject = "Subject - " + randw(1,4)
subject = sample("subject.subject")
file_name = "email." + lpad(rnum(),6,"0") + ".eml"
#package_name = "package." + lpad(incEvery(8),6,"0") + ".zip"
#content = randw(10, 20)
content = poolFileText("enroncontent")
#attachment_extension = set("xlsx","docx", "pdf")
#attachment_extension = set("jpg","pdf","doc","tif")
#attachment_extension = sample("enronmimetypes.extension")
#mimetype = sample("enronmimetypes.name")
#attachment_name = randw(1,1) + "." + [attachment_extension]
#attachment_content = poolFileBase64([attachment_extension])
#signaturepic =  poolFileBase64("sig")
#mimetype = sample("enronmimetypes.name")

[templatefile]
fileName=[file_name]
#packageName=[package_name]

[row]
Date: [email_date]
To: {email_address:1-5}
From: "[user_name]" <[user_email]>;
Subject: [subject]
Message-ID: [message_id]

Content-Type: text/plain; charset=utf-8

[content]

[full_name]
[title]
SafeCoast, LLC
[phone]


[email_address]
"[user_name]" <[user_email]>;

