[settings]
outputPath=Enron_LDIF
rowCount=10
filepoolpath=/mnt/c/TestFileGenerator/filepool

[fields]
email_date = drng(@date_start, @date_end,"E, dd MMM yyyy HH:mm:ss Z")
user_name = sample("Enron_LDIF-DICTIONARY.cn")
full_name = sample("Enron_LDIF-DICTIONARY.givenName")
user_email = sample("Enron_LDIF-DICTIONARY.mail")
user_department = sample("Enron_LDIF-DICTIONARY.departmentnumber")
user_phone = sample("Enron_LDIF-DICTIONARY.uid")

subject = sample("subject.subject")
message_key = upper(randt(32,32,"alpha-numeric"))
message_id = "<" + [message_key] + "." + sample("test_users_demo.email") + ">;"
boundary = "PART_" + [message_key]
related_boundary = "REL_" + [message_key]

X-ZANTAZ-RECIPIENTS-ID = "u"  + upper(randt(7,7,"numeric"))
X-MEDIA-ID = sample("enronmimetypes.name")
X-BACKUP-DATE = drng(@date_start, @date_end,"E, dd MMM yyyy HH:mm:ss Z")
X-MAILSERVER-NAME = randw(5,10)
MessageScope = randw(5,10)
X-ZANTAZ-AUDIT-NAME = randw(5,10)
RETURN-PATH = randw(5,10)
DISCLAIMERPRESENCE = "false"
X-ZANTAZ-SENDER-ID = "u"  + upper(randt(7,7,"numeric"))
X-ZANTAZ-CONTENT-TYPE = sample("enronmimetypes.name")
X-ZANTAZ-SEQUENCE = upper(randt(15,15,"numeric"))
X-ZANTAZ-RECIPIENTS-S6-USER-GROUP-MAPPING =
DOCUMENT_SUBJECT_LANGUAGE = "English"
DOCUMENT_BODY_LANGUAGE = "English"
X-ZANTAZ-RECIPIENTS-S6-GROUP-ID = upper(randt(9,10,"numeric"))
#X-ZANTAZ-SENDER-S6-USER-GROUP-MAPPING = 
#X-ZANTAZ-SENDER-S6-GROUP-ID =
#X-ZANTAZ-TW-MSG-ID =
#X-ZANTAZ-CAR-OBJ-ID =
#X-ZANTAZ-DSMAIL-IDX-FILTERING =
#X-ZANTAZ-CAMM-External-Identification =
#X-ZANTAZ-DATASOURCE =
#X-ZANTAZ-SOURCE-MESSAGE-DIRECTION =
#RCPTTO =
#X-ZANTAZ-IM-URI =

file_name = "email." + test + lpad(rnum(),7,"0") + ".eml"

content = "test" #sample("s_content.content")

[templatefile]
fileName=[file_name]

[row]
Date: [email_date]
To: {email_address:1-5}
From: "[user_name]" <[user_email]>;
Subject: [subject]
Content-Type: multipart/mixed; boundary="[boundary]"
Message-ID: [message_id]
Content-Type: multipart/related; boundary="[related_boundary]"
X-ZANTAZ-RECIPIENTS-ID: [X-ZANTAZ-RECIPIENTS-ID]
X-MEDIA-ID: [X-MEDIA-ID]
X-BACKUP-DATE: [X-BACKUP-DATE]
X-MAILSERVER-NAME: [X-MAILSERVER-NAME]
MessageScope: [MessageScope]
X-ZANTAZ-AUDIT-NAME: [X-ZANTAZ-AUDIT-NAME]
RETURN-PATH: [RETURN-PATH]
DISCLAIMERPRESENCE: [DISCLAIMERPRESENCE]
X-ZANTAZ-SENDER-ID: [X-ZANTAZ-SENDER-ID]
X-ZANTAZ-CONTENT-TYPE: [X-ZANTAZ-CONTENT-TYPE]
X-ZANTAZ-SEQUENCE: [X-ZANTAZ-SEQUENCE]
X-ZANTAZ-RECIPIENTS-S6-USER-GROUP-MAPPING: [X-ZANTAZ-RECIPIENTS-S6-USER-GROUP-MAPPING]
DOCUMENT_SUBJECT_LANGUAGE: [DOCUMENT_SUBJECT_LANGUAGE]
DOCUMENT_BODY_LANGUAGE: [DOCUMENT_BODY_LANGUAGE]
X-ZANTAZ-RECIPIENTS-S6-GROUP-ID: [X-ZANTAZ-RECIPIENTS-S6-GROUP-ID]


--[related_boundary]
Content-Type: text/html; charset=utf-8

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p>[content]</p>
        <p>
        [full_name]<br/>
        [user_department]<br/>
        [user_phone]<br/>
        </p>
    </body>
</html>

[email_address]
"[user_name]" <[user_email]>;
