[settings]
outputPath=Enron_LDIF
rowCount=1000
filepoolpath=/mnt/c/TestFileGenerator/filepool

[fields]
email_date = drng(@date_start, @date_end,"E, dd MMM yyyy HH:mm:ss Z")
first_name = sample("Enron_mail_alt_all.cn")
last_name = sample("Enron_mail_alt_all.sn")
full_name = sample("Enron_mail_alt_all.givenName")
user_email = sample("Enron_mail_alt_all.mail")
user_email_alternate = sample("Enron_mail_alt_all.mailalternateaddress;int")
user_department = sample("Enron_mail_alt_all.departmentnumber")
user_phone = "+1" + " " + upper(randt(3,3,"numeric")) + " " + upper(randt(3,3,"numeric")) + " " + upper(randt(4,4,"numeric"))
usertype = "internal"
identityid = sample("Enron_mail_alt_all.uid")

subject = sample("subject.subject")
message_key = upper(randt(32,32,"alpha-numeric"))
message_id = "<" + [message_key] + "." + sample("test_users_demo.email") + ">;"
boundary = "PART_" + [message_key]
related_boundary = "REL_" + [message_key]
x-zantaz-recipients-id = "u" + upper(randt(7,7,"numeric"))
x-zantaz-sender-id = sample("Enron_mail_alt_all.uid")
x-zantaz-content-type = sample("enronmimetypes.name")
x-backup-date = drng(@date_start, @date_end,"E, dd MMM yyyy HH:mm:ss Z")
x-smarsh-custom-attrib = sample("drestriction.drestriction")


attachment_extension = "txt"
mimetype = "text/csv"
attachment_name = randw(2,2) + ".txt"
attachment_content = poolFileBase64([attachment_extension])

file_name = "email." + test + lpad(rnum(),7,"0") + ".eml"
file_name_particiant = "enrondemo_participant.csv"

content = sample("s_content.content")


[templatefile]
fileName=[file_name]

[row]
Date: [email_date]
To: {email_address:1-5}
From: "[full_name]" <[user_email]>;
Subject: [subject]
Message-ID: [message_id]
Content-Type: multipart/related; boundary="[related_boundary]"
x-zantaz-recipients-id: [x-zantaz-recipients-id]
x-zantaz-sender-id: [x-zantaz-sender-id]
x-auto-response-suppress: [x-zantaz-content-type]
islargeandskipped: [x-backup-date]
x-smarsh-custom-attrib: [x-smarsh-custom-attrib]

--[related_boundary]
Content-Type: text/html; charset=utf-8

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p>[content]</p>
        <p>
        [full_name]<br/>
        [user_department]<br/>
        [user_phone]<br/>
        </p>
    </body>
</html>



{attachment:0-2}

--[related_boundary]--
[email_address]
"[full_name]" <[user_email]>;
[attachment]
--[related_boundary]
Content-Type: [mimetype]; name="[attachment_name]"
Content-Transfer-Encoding: base64
Content-Disposition: attachment; filename="[attachment_name]"

[attachment_content]

[templatefile]
fileName=[file_name_particiant]

[row]
[identityid],[usertype],[first_name],,[last_name],,[user_email],[identityid],,,,,,,,,,,,,,"[user_department],[x-smarsh-custom-attrib]","Journal,[user_email],,""[last_name], [first_name]"",Journal,[user_email_alternate],,""[last_name], [first_name]""",,,{"x-smarsh-custom-attrib": "[x-smarsh-custom-attrib]"}