[settings]
outputPath=examples-field-references
rowCount=10

[fields]
date=drng("2018-01-01","2018-06-30", "YYYY-MM-dd")
date_utc=formatDate([date], "epoch")
combo_date=[date] + "___" + [date_utc]

[templatefile]
fileName=field-reference-values.xml

[header]
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<root>
<records>

[row]
<row>
	<date>[date]</date>
	<date_utc>[date_utc]</date_utc>
	<combo_date>[combo_date]</combo_date>
</row>

[footer]
</records>
</root>
