[settings]
outputPath=ldif
rowCount=1000

[fields]
date_end=@date_end
full_name = lookup("users.full_name")
first_name = lookup("users.first_name")
last_name = lookup("users.last_name")
email = lookup("users.email")
alternate_email = "other." + lookup("users.email")
department = lookup("users.department")
phone_number = lookup("users.phone_number")
organization = lookup("users.organization")
organization_id = lpad(lookup("users.organization_id"),"0",4)
country = lookup("users.country")
country_code = lookup("users.country_code")
id = int(replace(lookup("users.id"),"UID",""))
region_code = set("USA.A","DB.Z","GBR.A","DEU.A")
retention = weight(0.9,"",set("CMS","DDF"))
zantaz_super = weight(0.9, "N", "Y")
date_part = formatDate(@date_start,"yyMMdd")

[templatefile]
fileName=ZantazS6File[date_part].txt

[row]
[id]|[first_name]|[last_name]|[full_name]|[zantaz_super]|[region_code]|to add|[email]|[alternate_email]|[retention]