[settings]
outputPath=MG
rowCount=250
filepoolpath=filepool

[fields]
#email_date = drng(@date_start, @date_end,"E, dd MMM yyyy HH:mm:ss Z")

messagetime = drng(@date_start, @date_end,"yyyy-MM-dd") + "T" + drng(@date_start, @date_end,"HH:mm:ss") + "Z"

#user_name = sample("Enron_LDIF-DICTIONARY_.cn")
#full_name = sample("Enron_LDIF-DICTIONARY_.givenName")
#user_email = sample("Enron_LDIF-DICTIONARY_.mail")
#user_department = sample("Enron_LDIF-DICTIONARY_.departmentnumber")
#user_phone = sample("Enron_LDIF-DICTIONARY_.uid")

#user_id = sample("Enron_LDIF-DICTIONARY_.uid")
#status = sample("Enron_LDIF-DICTIONARY_.zantazsuper")
#region = sample("Enron_LDIF-DICTIONARY_.departmentnumber")
#phone = "+1" + " " + upper(randt(3,3,"numeric")) + " " + upper(randt(3,3,"numeric")) + " " + upper(randt(4,4,"numeric"))
#hire_date = drng("2011-01-01","2022-06-01","MM/dd/yyyy")
#mod_date = drng("2022-06-02","2022-06-15","MM/dd/yyyy")

#subject = sample("ubs_test.SUBJECT")
#message_key = upper(randt(32,32,"alpha-numeric"))
#message_id = "<" + [message_key] + "." + sample("test_users_demo.email") + ">;"
#boundary = "PART_" + [message_key]
#related_boundary = "REL_" + [message_key]

msisdn = "+1" + sample("testphones.phone")	
from = "+1" + 55512345 + upper(randt(2,2,"numeric"))
messageid = upper(randt(12,12,"alpha-numeric")) + "-" + upper(randt(4,4,"alpha-numeric")) + "-" + upper(randt(4,4,"alpha-numeric")) + "-" + upper(randt(4,4,"alpha-numeric")) + "-" + upper(randt(12,12,"alpha-numeric"))


file_name = "email." + lpad(rnum(),6,"0") + ".eml"
#file_name_particiant = [file_name] + ".json"
#file_name_particiant_pm = [file_name_particiant] + ".pm"
#file_name_particiant_dr = [file_name] + ".dr"
#file_name_inscope = [file_name] + ".is"
content1 = sample("s_content.content") 

#attachment_extension = sample("enronmimetypes.extension")
#mimetype = sample("enronmimetypes.name")
#attachment_name = randw(1,1) + "." + [attachment_extension]
#attachment_content = poolFileBase64([attachment_extension])


[templatefile]
fileName=[file_name]
[row]
{
"subscriberID": "N_NBI_033_999999999999999999999",
"msisdn": "[msisdn]",
"ban": "101010101010",
"messageId": "[messageid]",
"messageContext": "pager-message",
"messageTime": "[messagetime]",
"from": "[from]",
"to": ["[msisdn]"],
"groupMessage": false,
"contentType": "text/plain",
"textContent": "[content1]",
"textSize": 8,
"direction": "In"
}