[settings]
outputPath=examples-multi-nested
rowCount=10

[fields]
row_number=rnum()

thread_id=randt(32,32,"alpha-numeric")
room_name="<![CDATA[Chat Room " + irng(1,10) + "]]>"
conversation_scope="internal"
owning_company_name="Deutsche Bank"
item_id=randt(32,32,"alpha-numeric")
user_id=sample("users.id")
user_full_name=sample("users.full_name")
user_first_name=sample("users.first_name")
user_last_name=sample("users.last_name")
user_email=sample("users.email")
item_content=randw(5,20)
pod_name="db-na-prod-chat-glb-2"


[templatefile]
fileName=multi-nested.xml

[header]
<?xml version="1.0" ?>
<log xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.symphony.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="1063" podName="[pod_name]" schemaVersion="1.5.5">

[row]
{ message|event=items:0-4}

[message]
<record count="[counters.items.count]">
<message id="[item_id]" count="[counters.message.total_count]">
	<content>[item_content]</content>
</message>
</record>
[event]
<record count="[counters.items.count]">
<event id="[item_id]" count="[counters.event.total_count]">
	<content>[item_content]</content>
</event>
</record>

[footer]
</log>
