[settings]
outputPath=examples-nested-scope
rowCount=5000

[fields]
full_name = sample("users.full_name")
first_name = sample("users.first_name")
last_name = sample("users.last_name")
email = sample("users.email")
message_id = "MID-" + randt(32,32, "numeric")
message_content = randt(10,100,"alpha-numeric")

[templatefile]
fileName=nested-template.xml
[header]
<xml>
<messages>
[footer]
</messages>
</xml>

[row]
<message>
	<id>[message_id]</id>
	<content>[message_content]</content>
	<users>
		{user:1-3}
	</users>
</message>

[user]
<user>
	<full_name>[full_name]</full_name>
	<email>[email]</email>
</user>