[settings]
outputPath=examples-nested
rowCount=10

[fields]
topic = lpad(randt(1,5,"alpha"), 10, "0")
event_time = drng("2011-01-01","2017-01-01","yyyy-MM-dd'T'HH:mm:ssZ")
event_type = set("enter_chat","leave_chat","message")
event_message = randt(10,100,"alpha")
user_email = "test.name." + irng(1,100) + "@example.com"
user_first_name = "First Name " + irng(1,100)
user_last_name = "Last Name " + irng(1,100)
user_site_location = "Location " + irng(1,100)
user_identifier = "UID" + lpad(irng(100,5000), 6, "0")

[templatefile]
fileName=nested.xml

[header]
<Root>
<ComplianceSetup Name="compliance_setup_name" ID="compliance_setup_id"/>
<DataPeriod>data_period</DataPeriod>
<Disclaimer>disclaimer</Disclaimer>
<Chats>

[footer]
</Chats>
</Root>

[row]
<Chat>
<Topic>[topic]</Topic>
<Events>
{event:1-100}
</Events>
</Chat>


[event]
<Event>
<UTCTime>[event_time]</UTCTime>
<Type>[event_type]</Type>
<Message>[event_message]</Message>
<Users>
{user:1-4}
</Users>
</Event>

[user]
<User>
<UserInfo>
<Email>[user_email]</Email>
<FirstName>[user_first_name]</FirstName>
<LastName>[user_last_name]</LastName>
<SiteLocation>[user_site_location]</SiteLocation>
<Identifier>[user_identifier]</Identifier>
</UserInfo>
</User>