[settings]
outputPath=non-smtp-logs
rowCount=1000

[fields]
log_date=format(@log_date_start, "yyyy-MM-dd")
time_stamp=drng(@log_date_start,@log_date_end,"yyyy-MM-dd'T'HH:mm:ssZ")
source_eml_name=randt(32,32, "numeric") + ".eml"
source_eml_size=randt(3,6, "numeric")
message_id="MID-" + randt(32,32, "numeric")
eml_id=randt(10,10, "numeric")
host_address="10.0.1.2"
source_id=randt(3,8, "numeric")
response_code="250 2.0.0 OK"
mac_address="001D5500BA02"
eml_name=randt(8,8,"hex") + "-" + randt(4,4,"hex") + "-" + randt(4,4,"hex") + "-" + randt(4,4,"hex") + "-" + [mac_address] + ".eml"
routing="{URI=smtp://" + [host_address] + "/, MAIL-FROM=legacy-adm@zantaz.com, RCPT-TO=test@example-rcpt-to.com}"
zdk="2.3," + randt(128,128,"alpha-numeric") + "=="

smap_log_name="smap-10-100-mailsend-" + [log_date] + "-Email_" + incEvery(100) + ".log"
smap_count_name="smap-10-100-count-" + [log_date] + "-Email_" + incEvery(100) + ".countFiles"
pbj_log_name="pbj-70-100-mailsend-" + [log_date] + ".log"

[templatefile]
fileName=[smap_log_name]

[row]
[time_stamp]	MailSendMessage	[source_eml_name]	[source_eml_size]	[message_id]	null	[eml_id]	[routing]	[source_id]	0	[response_code]	[eml_name] 
[templatefile]
fileName=[smap_count_name]
[header]
100

[templatefile]
fileName=[pbj_log_name]

[row]
[time_stamp]	MailSendMessage	[eml_name]	[source_eml_size]	[source_id]	null	[eml_id]	[routing]	30000	0	[zdk]