[settings]
outputPath=examples-output-file
rowCount=10

[fields]
row_id = "RID-" + rnum()
output_file_name = rnum() + "." + set("xlsx","docx","pptx")
excel_file_name = "excel-" + rnum() + ".xlsx"
package_name = "attachments-" + incEvery(5)
excel_package_name = "excels.zip"

[outputfile]
name=output_file
fileName=[output_file_name]
packageName=[package_name].zip
create=per row

[outputfile]
name=excel_file
fileName=[excel_file_name]
packageName=[excel_package_name]
create=per row

[templatefile]
fileName=file-reference.txt

[row]
======== New Row ========
Row ID: [row_id]
Text File Name: [output_file_name]
Full Path: [output_file.full_path]
Relative Path: [output_file.relative_path]
File Size: [output_file.size]
File Name: [output_file.file_name]
Excel File Path: [excel_file.full_path]