[settings]
outputPath=examples-parent-scope-values
rowCount=3

[fields]
row_number=rnum()
element_id="EID-" + randt(8,8,"hex")

[templatefile]
fileName=parent-scope_values.xml

[header]
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<root>
<global_id>[element_id]</global_id>
<records>

[row]
<row>
	<row_id>[element_id]</row_id>
	<gparents>
	{grand_parent:1}
	</gparents>
</row>

[grand_parent]
<gparent>
	<id>[element_id]</id>
	<parents>
		{parent:1}
	</parents>
</gparent>

[parent]
<parent>
	<id>[element_id]</id>
	<parent_id>[^element_id]</parent_id>
	<children>
		{child:1}
	</children>
</parent>

[child]
<child>
	<id>[element_id]</id>
	<parent_id>[^element_id]</parent_id>
	<grand_parent_id>[^^element_id]</grand_parent_id>
	<global_id>[^global^element_id]</global_id>
	<row_id>[^row^element_id]</row_id>
</child>

[footer]
</records>
</root>
