[settings]
outputPath=examples-random-functions
rowCount=10

[fields]
row_number = rowNumber()
date_range = dateRange("2011-01-01","2017-01-01","E, dd MMM yyyy HH:mm:ss Z")
int_range = intRange(1,1000)
float_range = floatRange(1.0,5.0)
random_alpha_text = randomText(10,50,"alpha-numeric")
random_hex_text = randomText(32,32,"hex")
random_words = randomWord(1,5)
sample_company = sample("companies.name")
sample_user_email = sample("users.email")
sample_user_full_name = sample("users.full_name")
set = set("apple", "orange", "cherry", "plum")
weight = weight(0.75,"car","truck")

[templatefile]
fileName=random-functions.txt

[header]
====================
I am the header
====================

[footer]
====================
I am the footer
====================

[row]
======== New Row ========
-------------------------
Row Number: [row_number]
-------------------------
Date Range: [date_range]
-------------------------
Float Range: [float_range]
-------------------------
Int Range: [int_range]
-------------------------
Random Alpha Text: [random_alpha_text]
-------------------------
Random Hex Text: [random_hex_text]
-------------------------
Random Words: [random_words]
-------------------------
Sample Company: [sample_company]
-------------------------
Sample User Email: [sample_user_email]
-------------------------
Sample User Full Name: [sample_user_full_name]
-------------------------
Set: [set]
-------------------------
Weight: [weight]
-------------------------


