[settings]
outputPath=examples-structured
rowCount=1000

[fields]
compliance_setup_name = "Setup " + irng(1,10)
compliance_setup_id = "CSID" + lpad(irng(500,90000), 6, "0")
disclaimer = "Compliance logs for chat history, only privileged parties allowed to review."
data_period_from = drng("2011-01-01","2014-01-01","yyyy-MM-dd'T'HH:mm:ssZ")
data_period_to = drng("2014-02-01","2018-01-01","yyyy-MM-dd'T'HH:mm:ssZ")
topic= randw(1,2)
event_time = drng("2011-01-01","2017-01-01","yyyy-MM-dd'T'HH:mm:ssZ")
event_type = set("enter_chat","leave_chat","message")
user_email = "test.name." + irng(1,100) + "@example.com"
user_first_name = "First Name " + irng(1,100)
user_last_name = "Last Name " + irng(1,100)
user_site_location_name = "Location " + irng(1,100)
user_site_location_id = "SLID" + lpad(irng(1,9999), 4, "0")
user_identifier = "UID" + lpad(irng(100,5000), 6, "0")
version = "1.14.23.324"
message_id = "MID-" + randt(32,32, "numeric")
message_utc_time = drng("2011-01-01","2017-01-01","yyyy-MM-dd'T'HH:mm:ssZ")
message_content = upper(randt(50,500,"alpha-numeric"))
attachment_name = "Attachment " + irng(1,1000)
attachment_hyperlink_name = "Link " + irng(1,1000)
attachment_reference = "aref-" + randt(12,12,"numeric")
file_name="structured." + incEvery(100)

[structuredfile]
fileName=[file_name].txt
includeHeader=true
separator=,
textQualifier="
fields=topic, user_email, message_id