[settings]
outputPath=examples-test-eml
rowCount=50

[fields]
email_date = drng("2011-01-01","2020-01-01","E, dd MMM yyyy HH:mm:ss Z")
user_name = sample("test_users.full_name")
user_email = sample("test_users.email")
message_id = "<" + upper(randt(32,32,"alpha-numeric")) + "." + sample("test_users.email") + ">;"
subject = "Subject - " + randw(1,4)
file_name = lpad(incEvery(1000),6,"0") + "/email." + lpad(rnum(),6,"0") + ".eml"
#package_name = "package." + lpad(incEvery(8),6,"0") + ".zip"
content = randw(10, 1000)

[templatefile]
fileName=[file_name]
#packageName=[package_name]

[row]
Date: [email_date]
To: {email_address:1-3}
From: "[user_name]" <[user_email]>;
Subject: [subject]
Content-Type: text/plain; charset=utf-8
Message-ID: [message_id]

[content]

[email_address]
"[user_name]" <[user_email]>;
