[settings]
outputPath=TestData_ubs_a
rowCount=1000
filepoolpath=/mnt/mj/csurv-compliance-dist-4.12.1/test_ingest/filepool_abridged

[fields]
email_date = drng(@date_start, @date_end,"E, dd MMM yyyy HH:mm:ss Z")
user_name = sample("Enron_LDIF-DICTIONARY.cn")
full_name = sample("Enron_LDIF-DICTIONARY.givenName")
user_email = sample("Enron_LDIF-DICTIONARY.mail")
user_department = sample("Enron_LDIF-DICTIONARY.departmentnumber")
user_phone = sample("Enron_LDIF-DICTIONARY.uid")

user_id = sample("Enron_LDIF-DICTIONARY.uid")
status = sample("Enron_LDIF-DICTIONARY.zantazsuper")
region = sample("Enron_LDIF-DICTIONARY.departmentnumber")
phone = "+1" + " " + upper(randt(3,3,"numeric")) + " " + upper(randt(3,3,"numeric")) + " " + upper(randt(4,4,"numeric"))
hire_date = drng("2011-01-01","2022-06-01","MM/dd/yyyy")
mod_date = drng("2022-06-02","2022-06-15","MM/dd/yyyy")

subject = sample("ubs_test.SUBJECT") + " in xlsx attachment"
message_key = upper(randt(32,32,"alpha-numeric"))
message_id = "<" + [message_key] + "." + sample("test_users_demo.email") + ">;"
boundary = "PART_" + [message_key]
related_boundary = "REL_" + [message_key]

file_name_temp = sample("ubs_test.FILENAME")

file_name = "email." + [file_name_temp] + "-xlsx-attachment" + ".eml"
file_name_particiant = [file_name] + ".json"
file_name_particiant_pm = [file_name_particiant] + ".pm"
file_name_particiant_dr = [file_name] + ".dr"
content = "placeholder"

attachment_extension = "xlsx"
mimetype = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
attachment_name = [file_name_temp] + "-attachment.xlsx"
attachment_content = poolFileBase64(lower([file_name_temp]))


#attachment_extension = sample("enronmimetypes.extension")
#mimetype = sample("enronmimetypes.name")
#attachment_name = randw(1,1) + "." + [attachment_extension]
#attachment_content = poolFileBase64([attachment_extension])

[templatefile]
fileName=[file_name]

[row]
Date: [email_date]
To: {email_address:1-5}
From: "[user_name]" <[user_email]>
Subject: [subject]
Content-Type: multipart/mixed; boundary="[boundary]"
Message-ID: [message_id]

--[boundary]
Content-Type: text/html; charset=utf-8

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p>[content]</p>
        <p>
        [full_name]<br/>
        [user_department]<br/>
        [phone]<br/>
        </p>
    </body>
</html>

{attachment:1-1}

--[boundary]--
[email_address]
"[user_name]" <[user_email]>
[attachment]
--[boundary]
Content-Type: [mimetype]; name="[attachment_name]"
Content-Transfer-Encoding: base64
Content-Disposition: attachment; filename="[attachment_name]"

[attachment_content]

[templatefile]
fileName=[file_name_particiant]

[row]
{
  "key": "e-mail",
  "value": "[user_email]",
  "properties": {
    "known-entity-id": [ "[user_id]" ],
    "Employee ID": [ "[user_id]" ],
    "Name": [ "[full_name]" ],
    "Status": [ "[status]" ],
    "Region": [ "[region]" ],
    "Who Listen": [ "Compliance" ],
    "Landline Number": [ "[phone]" ],
    "Corp Email": [ "[user_email]" ],
    "Mobile number": [ "7000000000" ],
    "Hire Date": [ "[hire_date]" ],
    "Leaving Date": [ "00/00/0000" ],
    "Last Modification Date": [ "[mod_date]" ],
    "Monitoring Status": [ "Monitored" ],
    "NM_BASE_HIERARCHY": [ "[region]" ]
  }
}

[templatefile]
fileName=[file_name_particiant_pm]

[row]
       "[user_id]": ["[user_department]"]	   
[templatefile]
fileName=[file_name_particiant_dr]

[row]
[user_department]
