[settings]
outputPath=examples-users-dictionary
rowCount=5000

[fields]
full_name = sample("lastnames") + ", " + sample("firstnames")
first_name = sample("firstnames")
last_name = sample("lastnames")
email = lower(sample("firstnames")) + "." + lower(sample("lastnames")) + "@example.com"
department = sample("departments")
phone_number = "555-" + irng(100,999) + "-" + lpad(irng(0,9999), "0", 4)
organization = sample("companies.name")
organization_id = sample("companies.id")
country = sample("countries.name")
country_code = sample("countries.code")
id = rnum()

[structuredfile]
fileName=users.csv
includeHeader=true
separator=,
textQualifier="
fields=all