[settings]
outputPath=css
rowCount=10

[fields]
date_start=@date_start
date_end=@date_end
ticket_number
ticket_id="T-T" + lpad(irng(1,9999999),8,"0")
company=sample("companies.name")
account_number="ACCT-" + lpad(irng(1,99999),6,"0")
department = sample("users.department")
user_full_name=sample("users.full_name")
user_email=sample("users.email")
work_status=set("Cancelled","In Progress")
create_date=formatDate(@date_start,"yyyyMMdd'T'HHmmss.SSSSSS") + " GMT"
update_date=drng(@date_start, @date_end, "yyyyMMdd'T'HHmmss.SSSSSS") + " GMT"
attachment_date=drng(@date_start, @date_end, "yyyyMMdd'T'HHmmss.SSSSSS") + " GMT"
resolved_department=weight(0.9,[department],sample("departments"))
updated_department=weight(0.7,[department],sample("departments"))
body_text=randw(10,300)
attachment_subject=randw(1,3)
attachment_from=sample("users.email")
attachment_name=replace(randw(1,3)," ","-") + ".txt"
attachment_base64=base64(randw(100,1000))
date_folder = formatDate(@date_end,"yyyy-MM-dd'T'HHmmss'Z'")
file_name = "CSSMain_Live_" + formatDate(@date_end,"yyyyMMdd'T'HHmmss.SSS") + " GMT"

[templatefile]
fileName=[date_folder]/[file_name].xml

[header]
<?xml version='1.0' encoding='UTF-8' ?>
<Tickets>

[attachment]
<attachment>
        <pxAttachName>[attachment_name]</pxAttachName>
        <pyAttachStream>[attachment_base64]</pyAttachStream>
        <pxObjClass>null</pxObjClass>
        <pyNote>null</pyNote>
</attachment>

[attachmentdetails]
<Attachment[counters.attachmentdetails.count]>
<pyBody>
[body_text]
</pyBody>
<pxCreateDateTime>[attachment_date]</pxCreateDateTime>
<pxSentDateTime>[attachment_date]</pxSentDateTime>
<pzStatus>null</pzStatus>
<pySubject>[attachment_subject]</pySubject>
<pxObjClass>null</pxObjClass>
<pyFrom>[attachment_from]</pyFrom>
<pyLabel>null</pyLabel>
<pxCreateOperator>[attachment_from]</pxCreateOperator>
<pyToString>null</pyToString>
<pyCopy>null</pyCopy>
{ attachment : 0-1 }
</Attachment[counters.attachmentdetails.count]>

[row]
<[ticket_id]>
<TicketDetails>
<CSOFullName>null</CSOFullName>
<pyID>[ticket_id]</pyID>
<pxUpdateOperator>null</pxUpdateOperator>
<r_ATTScale>null</r_ATTScale>
<AccountNumber>[account_number]</AccountNumber>
<AssignedOperator>null</AssignedOperator>
<pyResolvedUserID>null</pyResolvedUserID>
<pxUpdateOrgUnit>[updated_department]</pxUpdateOrgUnit>
<r_LifeTime>null</r_LifeTime>
<CustomerName>[user_full_name]</CustomerName>
<CustomerEmail>[user_email]</CustomerEmail>
<pyStatusWork>[work_status]</pyStatusWork>
<AssignedTeamCode>[department]</AssignedTeamCode>
<pxCreateDateTime>[create_date]</pxCreateDateTime>
<pxUpdateDateTime>[update_date]</pxUpdateDateTime>
<pxResolvedOrgUnit>[resolved_department]</pxResolvedOrgUnit>
<pzStatus>null</pzStatus>
<r_LifeTimeDec>null</r_LifeTimeDec>
<pyOrigOrgUnit>[department]</pyOrigOrgUnit>
<pxObjClass>null</pxObjClass>
<pyResolvedTimestamp>[update_date]</pyResolvedTimestamp>
<pxCreateOperator>[user_email]</pxCreateOperator>
</TicketDetails>
<HistoryDetails></HistoryDetails>
<AttachmentDetails>
{ attachmentdetails : 1-3 }
</AttachmentDetails>
</[ticket_id]>

[footer]
</Tickets>