[settings]
outputPath=bats
rowCount=1000

[fields]
date_start=@date_start
date_end=@date_end
run_date_start=format(@date_start, "yyyy-MM-dd'T'HH:mm:ss.SSS")
run_date_end=format(@date_end, "yyyy-MM-dd'T'HH:mm:ss.SSS")
source="Convchecker"
org_id="3042"
asset_type_id="719"
report_name="BATS Test"
region=set("AP","UK","US")
trader_email=sample("users.email")
trader_full_name=sample("users.full_name")
trader_last_name=sample("users.last_name")
trader_id =sample("users.id")
deal_date=drng(@date_start, @date_end, "yyyy-MM-dd'T'HH:mm:ss.SSS")
cnv_number=irng(10000,99999)
counterparty_company=sample("companies.name")
escaped_counterparty_company=escape(sample("companies.name"), "xml")
counterparty_email=lookup("users.email")
our_tcid="DBKL"
their_tcid=upper(randt(4,4,"alpha"))
uti_number=randt(16,32,"numeric")
their_cnv_number=irng(10000,99999)
date_folder = formatDate(@date_end,"yyyy-MM-dd'T'HHmmss'Z'")
file_name="US" + format(@date_end, "yyyyMMdd-HHmm")
file_extension="xml"
#file_name="US20180901-2000"
transaction_text=randw(3,8)

[templatefile]
fileName=[date_folder]/[file_name].[file_extension]

[header]
<?xml version="1.0" encoding="UTF-8"?>
<asset>
<originalTimestamp>[date_start]</originalTimestamp>
<orgID>[org_id]</orgID>
<assetTypeID>[asset_type_id]</assetTypeID>
<metadata>
<ReportName>[report_name]</ReportName>
<ReportDate>[date_start]</ReportDate>
<FileName>[file_name]</FileName>
</metadata>
<xmetadata>
    <uniqueIdentifiers>
        <name>Prv</name>
        <number>130</number>
    </uniqueIdentifiers>
    <GUID>[file_name]</GUID>
    <businessCategory>datafile</businessCategory>
    <scanDate/>
    <pageCount>1</pageCount>
    <BatchClassName>datafile</BatchClassName>
    <BatchCreationTime/>
    <BatchCreationStationID/>
    <BatchDescription/>
    <BatchID>1</BatchID>
    <BatchName/>
    <DocumentClassName>datafile</DocumentClassName>
    <DocumentCount>1</DocumentCount>
    <DocumentFormName>datafile</DocumentFormName>
    <DocumentID>1</DocumentID>
    <OperatorDescription/>
    <OperatorName>BATS Batch</OperatorName>
    <OperatorUserID>BATS Batch</OperatorUserID>
    <RemoteValidationUserID/>
    <ScanOperatorUserID/>
    <SiteID>1</SiteID>
    <StationID>BATS Batch</StationID>
    <UserName>BATS Batch</UserName>
    <ValidationOperatorStation/>
    <FacilityID>template_work_station</FacilityID>
</xmetadata>
<payloads>
    <numberOf>1</numberOf>

[row]
<payload>
    <name>[file_name]</name>
    <type>[file_extension]</type>
    <base64>
    </base64>
</payload>

[footer]
</payloads>
</asset>