[settings]
outputPath=reuters/ldif
rowCount=5000

[fields]
date_end=@date_end
full_name = lookup("users.full_name")
first_name = lookup("users.first_name")
last_name = lookup("users.last_name")
email = lookup("users.email")
department = lookup("users.department")
phone_number = lookup("users.phone_number")
organization = lookup("users.organization")
organization_id = lpad(lookup("users.organization_id"),"0",4)
country = lookup("users.country")
country_code = lookup("users.country_code")
id = int(replace(lookup("users.id"),"UID",""))
retention_code = set("USA.A","DB.Z","GBR.A","DEU.A")
date_part = formatDate(@date_start,"yyMMdd")
date_folder = formatDate(@date_start,"yyyy-MM-dd")
feed_id=@feed_id

[templatefile]
fileName=[date_part]/[feed_id].ldap.[date_part].ldif

[header]
version: 1

dn: o=example
objectClass: top
objectClass: organization
o: example

dn: ou=people,o=example
objectClass: top
objectclass: organizationalunit
ou: people

[row]
dn: dbdirid=[id],ou=people,o=example
cn: [full_name]
givenName: [first_name]
sn: [last_name]
dbdirid: [id]
mail: [email]
zantazsuper: N
retentioncode: [retention_code]
legalentity: [organization]
legalentityid: [organization_id]
objectClass: top
objectClass: zIdentity

