[settings]
outputPath=reuters
postPackageProcesses=hash
rowCount=1000

[fields]
date_start=@date_start
date_end=@date_end
header_email=lookup("users.email")
header_first_name=lookup("users.first_name")
header_last_name=lookup("users.last_name")
header_user_id=lookup("users.id")
header_user_location=lookup("users.country")
message_id= "MID-" + randt(16,16,"hex")
chat_id="CID-" + randt(16,16,"numeric")
compliance_setup_id="CID1000"
compliance_setup_disclaimer="Compliance export " + @date_start + "-" + @date_end
user_email=sample("users.email")
event_date=drng(@date_start,@date_end, "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'")
message_text=randw(10,100)
formatted_date_start=format(@date_start, "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'")
formatted_date_end=format(@date_end, "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'")
date_folder = formatDate(@date_start,"yyyy-MM-dd'T'HHmmZ")
attachment_file_ref = counter("attachment_file.file_count") + "." + sample("extensions")
attachment_file_name = randw(1,1) + "." + sample("extensions")

[outputfile]
name=attachment_file
fileName=[date_folder]/[attachment_file_ref]
packageName=[date_folder]/attachments.zip
create=per reference

[templatefile]
fileName=[date_folder]/messages.xml
packageName=[date_folder]/messages.zip

[header]
<?xml version="1.0" encoding="UTF-8"?>
<ComplianceActivity xmlns:xsi="http://www.w3.org/2011/XMLSchema-instance" xsi:noNamespaceSchemaLocation="ContextCentricFile.xsd">
<Version>1.0</Version>
<Headers>
	<ComplianceSetup>
		<ID>[compliance_setup_id]</ID>
		<Name>[compliance_setup_disclaimer]</Name>
	</ComplianceSetup>
	<DataPeriod>
		<From>[date_start]</From>
		<To>[date_end]</To>
	</DataPeriod>
</Headers>
<Users>
	{chatusers :5-10}
</Users>
<Chats>
[chatusers]
	<UserInfo>
		<Identifier>[header_email]</Identifier>
		<Email>[header_email]</Email>
		<FirstName>[header_first_name]</FirstName>
		<LastName>[header_last_name]</LastName>
		<ComplianceSetup>
			<ID>[header_user_id]</ID>
			<Name>[header_user_location]</Name>
		</ComplianceSetup>
		<SiteLocation>
			<ID>SL-12423242</ID>
			<Name>[header_user_location]</Name>
		</SiteLocation>
	</UserInfo>

[row]
	<Chat>
		<Identifier>[chat_id]</Identifier>
		<Topic></Topic>
		<Disclaimer></Disclaimer>
		<Participants>
			{ participant : 2-4 }
		</Participants>
		<Events>
			{ event: 1-5}
		</Events>
	</Chat>

[participant]
	<User>[user_email]</User>

[event]
			<Event>
				<Type>Send</Type>
				<User>[user_email]</User>
				<UTCTime>[event_date]</UTCTime>
				{ message=messagescope:1-1}
			</Event>

[message]
				<Message>
					<MessageID>[message_id]</MessageID>
					<Content>[message_text]</Content>
					{ fileattachment: 0-1}
				</Message>

[fileattachment]
					<FileAttachment>
						<Reference>[attachment_file.file_name]</Reference>
						<Name>[attachment_file_name]</Name>
						<HyperlinkName>[attachment_file_name]</HyperlinkName>
					</FileAttachment>

[footer]
</Chats>
</ComplianceActivity>

[templatefile]
fileName=[date_folder]/reconcile.xml

[header]
<?xml version="1.0" encoding="UTF-8" ?>
<reconcile>
	<Version>1.0</Version>
	<Chats>

[row]
		<Chat>
			<Identifier>[chat_id]</Identifier>
			<Messages count="[counters.messagesummary.count]">
			{messagesummary=messagescope:1-1}
			</Messages>
		</Chat>

[messagesummary]
				<MessageID>[message_id]</MessageID>

[footer]
	</Chats>
</reconcile>

[templatefile]
fileName=[date_folder]/summary.xml

[footer]
<?xml version="1.0" encoding="UTF-8"?>
<ComplianceActivitySummary>
	<Version>1.0</Version>
	<FirstEventTime>[formatted_date_start]</FirstEventTime>
	<LastEventTime>[formatted_date_end]</LastEventTime>
	<NumberOfEvents>[counters.event.total_count]</NumberOfEvents>
	<NumberOfAttachments>[counters.fileattachment.total_count]</NumberOfAttachments>
</ComplianceActivitySummary>