[settings]
outputPath=demo-6-2
rowCount=3

[fields]
row_number = rowNumber()
company = sample("companies.name")
first_name = sample("users.first_name")
last_name = sample("users.last_name")
email = sample("users.email")

[templatefile]
fileName=nested-templates.xml

[header]
<messages>
[row]
<message number="[row_number]">
<first_name>[first_name]</first_name>
<last_name>[last_name]</last_name>
<email>[email]</email>
<company>[company]</company>
<children>
{ nested : 1-3}
</children>
</message>

[nested]
<child>
<first_name>[first_name]</first_name>
<last_name>[last_name]</last_name>
<email>[email]</email>
</child>

[footer]
</messages>
