[settings]
outputPath=demo-2
rowCount=10

[fields]
row_number = rowNumber()
random_int = intRange(1,100)
random_date = dateRange("2011-01-01","2017-01-01","E, dd MMM yyyy HH:mm:ss Z")
pick_one = set("apple", "orange", "grape")
append = "Row - " + rowNumber()

[structuredfile]
fileName=simple-field-expressions.csv
includeHeader=true
separator=,
textQualifier="
fields= row_number, random_int, random_date, pick_one, append