[settings]
outputPath=demo-4
rowCount=5

[fields]
row_number = rowNumber()
company = sample("companies.name")
first_name = sample("users.first_name")
last_name = sample("users.last_name")
email = sample("users.email")
safe_name = set("01-LAS","03-LAS","16-SAC")

[templatefile]
fileName=sample-function.txt

[header]
== I am the header ==

[row]
== Row [row_number] ==
First Name: [first_name]
Last Name: [last_name]
email: [email]
company: [company]

[footer]
== I am the footer ==

