[settings]
outputPath=demo-5
rowCount=8

[fields]
row_number = rowNumber()
attachment_file_name = rowNumber() + "." + sample("extensions")

[outputfile]
name=attachment_file
fileName=[attachment_file_name]
packageName=packaged-files.zip
create=per row

[structuredfile]
fileName=output-file.csv
includeHeader=true
separator=,
textQualifier="
fields=all