[settings]
outputPath=demo-3
rowCount=10

[fields]
row_number = rowNumber()
random_int = intRange(1,100)
random_date = dateRange("2011-01-01","2017-01-01","E, dd MMM yyyy HH:mm:ss Z")
pick_one = set("apple", "orange", "grape")
append = "Row - " + rowNumber()
split_counter = incEvery(2)

[templatefile]
#fileName=simple-template.txt
#fileName=simple-template-[row_number].txt
fileName=simple-template-[split_counter].xml
#packageName=package.tar.gz
#packageName=package-[row_number].zip
#packageName=package-[split_counter].tar.gz

[header]
<messages>

[row]
<message>
<id>[row_number]</id>
<content>
== Start Row [row_number] ==
Row Number: [row_number]
Random Int: [random_int]
Random Date: [random_date]
Pick One: [pick_one]
Append: [append]
== End Row [row_number] ==
</content>
</message>
[footer]
</messages>

