[settings]
outputPath=dbchat
rowCount=1200

[fields]
date_start=@date_start
date_end=@date_end
user_email=sample("users.email")
user_id=sample("users.id")
user_full_name=sample("users.full_name")
group_name=escape(sample("companies.name"),"xml11") + " chat"
group_id=irng(10000,99999)
timestamp=drng(@date_start, @date_end, "epoch_ms")
attachment_file_ref = randt(24,24,"numeric")
attachment_file_name = randw(1,1) + "." + sample("mimetypes.extension")
message_text=randw(3,30)
file_name="compliancelog.xml." + format(@date_start, "yyyy-MM-dd")
package_name="compliance_" + format(@date_start, "yyyy_MM_dd")
package_checksum_name="CheckSum." + format(@date_start, "yyyy-MM-dd")
file_name_part=[file_name] + "-" + lpad(incEvery(50),"0",2)

[outputfile]
name=attachment_file
fileName=[attachment_file_ref]
packageName=[package_name].tar.gz
create=per reference

[templatefile]
fileName=[file_name_part]
fileType=xml
packageName=[package_name].tar.gz
packageChecksumName=[package_checksum_name]

[header]
<events>

[row]
{ event_part|event_join|event_message : 1-2}

[event_message]
<event type="message">
    {user:1}
    <timestamp>[timestamp]</timestamp>
    <data>[message_text]</data>
    {attachment:0-1}
    {group:1}
    <viewers>
        {user:1-5}
    </viewers>
</event>

[event_join]
<event type="join">
    {user:1}
    <timestamp>[timestamp]</timestamp>
    {group:1}
</event>

[event_part]
<event type="part">
    {user:1}
    <timestamp>[timestamp]</timestamp>
    {group:1}
</event>

[group]
<group name="[group_name]" id="http://localhost/group/[group_id]" external="false" logged="true"/>

[user]
<user name="[user_full_name]" id="[user_id]" external="false">
    <attribute name="AUTH_LOGIN">[user_full_name]</attribute>
    <attribute name="EMAIL">[user_email]</attribute>
</user>

[attachment]
<attachment name="[attachment_file_name]">[attachment_file.file_name]</attachment>

[footer]
</events>
