[settings]
outputPath=symphony/ldif
rowCount=5000

[fields]
date_end=@date_end
full_name = lookup("users.full_name")
first_name = lookup("users.first_name")
last_name = lookup("users.last_name")
email = lookup("users.email")
other_email = "other." + lookup("users.email")
department = lookup("users.department")
phone_number = lookup("users.phone_number")
organization = lookup("users.organization")
country = lookup("users.country")
country_code = lookup("users.country_code")
id = lookup("users.id")
#user id for user john m smith is like JMS2
repository_name=set("AFD","GEN","PIM")
zantaz_super=set("Y","N")
supervisor_mailbox="Shared Mailbox " + set("A", "B", "C", "D")
date_part = formatDate(@date_end,"yyMMdd")

[templatefile]
fileName=f1726.ldap.[date_part].ldif
#packageName=f1726.ldap.[date_part].ldif.tar.gz

[header]
version: 1

dn: o=CAPITAL
objectclass: top
objectclass: organization
o: CAPITAL

dn: ou=AFD,o=CAPITAL
objectclass: top
objectclass: organizationalUnit
ou: AFD

dn: ou=GEN,o=CAPITAL
objectclass: top
objectclass: organizationalUnit
ou: GEN

dn: ou=PIM,o=CAPITAL
objectclass: top
objectclass: organizationalUnit
ou: PIM

[row]
dn: uid=[user_id],ou=[repository_name],o=CAPITAL
cn: [full_name]
uid: [user_id]
cgrepositoryname: [repository_name]
zantazsuper: [zantaz_super]
cgsupervisoryname: [supervisor_mailbox]
mail: [email]
Mailalternateaddress: [other_email]
s6groupid: TEST_CAPGROUP_G9999
s6usergroupmapping: TEST_CAPGROUP_U[user_id]_G9999
objectClass: top
objectClass: zIdentity

