[settings]
outputPath=symphony/data
publicKeyPath=symphonytest.pkr
postPackageProcesses=encrypt
rowCount=500

[fields]
row_number=rnum()
date_start=@date_start
date_end=@date_end
thread_id=randt(32,32,"alpha-numeric")
room_name="Chat Room " + irng(1,10)
conversation_scope="internal"
owning_company_name="Deutsche Bank"
message_id=randt(32,32,"alpha-numeric")
creation_date=drng(@date_start,@date_end, "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'")
user_id=sample("users.id")
user_full_name=sample("users.full_name")
user_first_name=sample("users.first_name")
user_last_name=sample("users.last_name")
user_email=sample("users.email")
lookup_user_id=lookup("users.id")
lookup_user_full_name=lookup("users.full_name")
lookup_user_first_name=lookup("users.first_name")
lookup_user_last_name=lookup("users.last_name")
lookup_user_email=lookup("users.email")
lookup_user_organization=escape(lookup("users.organization"),"xml11")
message_date=drng(@date_start,@date_end, "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'")
message_content=escape(randw(5,20), "xml11")
attachment_file_ref = "db-na-prod-chat-glb-2_Attachment/" + counter("attachment_file.file_count") + "." + sample("mimetypes.extension")
attachment_file_name = randw(1,1) + "." + sample("mimetypes.extension")
attachment_file_type = sample("mimetypes.name")
date_folder = formatDate(@date_start,"yyyy-MM-dd")
pod_name="db-na-prod-chat-glb-2"
xml_file_name_suffix = "SD-" + format(@date_start, "YYYY-MM-dd") + "-00_ED-" + format(@date_end, "YYYY-MM-dd") + "-00_GD-" + format(@date_end, "YYYY-MM-dd") + "_" + format(@date_end, "epoch")

[outputfile]
name=attachment_file
fileName=[date_folder]/[attachment_file_ref]
packageName=[date_folder]/[pod_name]_[xml_file_name_suffix].zip
create=per reference

[templatefile]
fileName=[date_folder]/[pod_name]_[xml_file_name_suffix].xml
packageName=[date_folder]/[pod_name]_[xml_file_name_suffix].zip

[header]
<?xml version="1.0" encoding="UTF-8"?>
<log xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.symphony.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="1063" podName="[pod_name]" schemaVersion="1.5.5">

[row]
{ message|event:1-1}

[message]
<record id="[row_number]" recordType="SOCIAL MESSAGE" scope="PUBLIC" xsi:type="socialMessageRecordType" socialMessageType="CHAT ROOM" isArchived="true" platform="DESKTOP-35.0.0.0-6475-Windows-7">
	<threadId>[thread_id]</threadId>
	<roomName><![CDATA[[room_name]]]></roomName>
	<conversationScope>[conversation_scope]</conversationScope>
	<owningCompanyName>[owning_company_name]</owningCompanyName>
	<messageId>[message_id]</messageId>
	<creationDate>
		<iso_8601>[creation_date]</iso_8601>
	</creationDate>
	<initiator>
		{user:1-1}
	</initiator>
	<sentTo>
		{user:1-10}
	</sentTo>
	<readBy>
		{user:0-2}
	</readBy>
        <attachments>
	{attachment:0-1}
        </attachments>
	<messageInfo contentType="text/plain" encoding="UTF-8" messageTimestamp="[message_date]">
            <content><![CDATA[<html><body><div data-format="PresentationML" data-version="2.0" class="wysiwyg"><p>[message_content]</p></div></body></html>]]></content>
	</messageInfo>
</record>

[event]
<record id="[row_number]" recordType="EVENT" scope="PUBLIC" xsi:type="eventRecordType" eventSubject="CHAT ROOM" eventAction="JOIN ROOM">
	<threadId>[thread_id]</threadId>
	<roomName>[room_name]</roomName>
	<conversationScope>[conversation_scope]</conversationScope>
	<owningCompanyName>[owning_company_name]</owningCompanyName>
	<messageId>[message_id]</messageId>
	<creationDate>
		<iso_8601>[creation_date]</iso_8601>
	</creationDate>
	<initiator>
		<user>
			<userId>[user_id]</userId>
			<companyUserEmail>[user_email]</companyUserEmail>
		</user>
	</initiator>
	<affectedUsers>
		<user>
			<userId>[user_id]</userId>
			<companyUserEmail>[user_email]</companyUserEmail>
		</user>
	</affectedUsers>
	<recipients>
		{user:1-10}
	</recipients>
	<eventInfo>
		<content><![CDATA[Event [user_id] ([user_email]) joined the room ([room_name])]]></content>
	</eventInfo>
</record>

[user]
<user>
	<userId>[user_id]</userId>
	<companyUserEmail>[user_email]</companyUserEmail>
</user>

[user_details]
<userDetails>
	<userId>[lookup_user_id]</userId>
	<userName>[lookup_user_email]</userName>
	<companyUserEmail>[lookup_user_email]</companyUserEmail>
	<isPerson>true</isPerson>
	<firstName>[lookup_user_first_name]</firstName>
	<lastName>[lookup_user_last_name]</lastName>
	<freeAttributes>
		<freeAttribute><key>company</key><value>[lookup_user_organization]</value></freeAttribute>
	</freeAttributes>
</userDetails>

[file_attachment]
<file name="[attachment_file_ref]"></file>

[attachment]
<attachment>
	<filename>[attachment_file.relative_path]</filename>
	<filetype>[attachment_file_type]</filetype>
	<description><![CDATA[[attachment_file_name]]]></description>
	<downloadedBy>
		{user:1}
	</downloadedBy>
</attachment>

[footer]
<manifest>
	<userlist>
		{user_details:50}
	</userlist>
	<userCount>[counters.user_details.total_count]</userCount>
	<fileCount>[counters.attachment.total_count]</fileCount>
	<firstRecord>1</firstRecord>
	<recordCount>[counters.row_count]</recordCount>
</manifest>
</log>
