[settings]
outputPath=symphony/ldif
rowCount=5000

[fields]
date_end=@date_end
full_name = lookup("users.full_name")
first_name = lookup("users.first_name")
last_name = lookup("users.last_name")
email = lookup("users.email")
department = lookup("users.department")
phone_number = lookup("users.phone_number")
organization = lookup("users.organization")
country = lookup("users.country")
country_code = lookup("users.country_code")
id = lookup("users.id")
date_part = formatDate(@date_end,"yyMMdd")

[templatefile]
fileName=f1726.ldap.[date_part].ldif
#packageName=f1726.ldap.[date_part].ldif.tar.gz
[header]
version: 1

dn: dc=example,dc=com
dc: example
description: Example company for example.com
objectClass: dcObject
objectClass: organization
o: Example, Inc.

dn: ou=users, dc=example,dc=com
ou: users
objectClass: organizationalunit
objectClass: top
description: All users in organisation
objectclass: organizationalunit

[row]
dn: cn=[full_name],ou=users,dc=example,dc=com
objectclass: inetOrgPerson
cn: [full_name]
givenname: [first_name]
sn: [last_name]
uid: [id]
phone: [phone_number]
mail: [email]
country: [country]
ou: people
ou: [department]

