[settings]
outputPath=dealtracker
rowCount=1000

[fields]
date_start=@date_start
date_end=@date_end
run_date_start=format(@date_start, "yyyy-MM-dd'T'HH:mm:ss.SSS")
run_date_end=format(@date_end, "yyyy-MM-dd'T'HH:mm:ss.SSS")
source="Convchecker"
region=set("AP","UK","US")
trader_email=sample("users.email")
trader_full_name=sample("users.full_name")
trader_last_name=sample("users.last_name")
trader_id =sample("users.id")
deal_date=drng(@date_start, @date_end, "yyyy-MM-dd'T'HH:mm:ss.SSS")
cnv_number=irng(10000,99999)
counterparty_company=sample("companies.name")
escaped_counterparty_company=escape(sample("companies.name"), "xml")
counterparty_email=lookup("users.email")
our_tcid="DBKL"
their_tcid=upper(randt(4,4,"alpha"))
uti_number=randt(16,32,"numeric")
their_cnv_number=irng(10000,99999)
date_folder = formatDate(@date_end,"yyyy-MM-dd'T'HHmmss'Z'")
file_name="US" + format(@date_end, "yyyyMMdd-HHmm")
#file_name="US20180901-2000"
transaction_text=randw(3,8)

[templatefile]
fileName=[date_folder]/[file_name].xml

[header]
<ReutersDealingConversations>
[row]
<Conversation>
	<runstartdatetime>[run_date_end]</runstartdatetime>
	<runenddatetime>[run_date_end]</runenddatetime>
	<source>[source]</source>
	<region>[region]</region>
	<trader>[trader_email]</trader>
	<dealdate>[deal_date]</dealdate>
	<cnvnumber>[cnv_number]</cnvnumber>
	<counterparty>[escaped_counterparty_company]</counterparty>
	<ourtcid>[our_tcid]</ourtcid>
	<theirtcid>[their_tcid]</theirtcid>
	<text>
		<![CDATA[
			FROM [counterparty_company]
			OUR TERMINAL: [our_tcid]
			OUR USER: [trader_full_name]
			TRANSACTION ID: [our_tcid][cnv_number][their_tcid][their_cnv_number]
			[transaction_text]
			UTI: [uti_number]
			OUR EMAIL: [trader_email]
			THEIR EMAIL: [counterparty_email]
			CPTY DEALER ID: [trader_id]
			CPTY DEALER NAME: [trader_last_name]
		]]>
	</text>
</Conversation>

[footer]
</ReutersDealingConversations>